In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/home/jovyan/ML_Bitcoin/bitcoin_2017_to_2023.csv')

In [3]:
data.head()

,timestamp,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2023-08-01 13:19:00,28902.48,28902.49,28902.48,28902.49,4.68658,1.354538e+05,258,0.89391,25836.224836
1,2023-08-01 13:18:00,28902.48,28902.49,28902.48,28902.49,4.77589,1.380351e+05,317,2.24546,64899.385195
2,2023-08-01 13:17:00,28908.52,28908.53,28902.48,28902.49,11.52263,3.330532e+05,451,2.70873,78290.170121
3,2023-08-01 13:16:00,28907.41,28912.74,28907.41,28908.53,15.89610,4.595556e+05,483,10.22981,295738.166916
4,2023-08-01 13:15:00,28896.00,28907.42,28893.03,28907.41,37.74657,1.090761e+06,686,16.50452,476955.246611

In [4]:
data.shape

(3126000, 10)

In [5]:
print(data.columns)

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume',
       'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3126000 entries, 0 to 3125999
Data columns (total 10 columns):
 #   Column                        Dtype
---  ------                        -----
 0   timestamp                     object
 1   open                          float64
 2   high                          float64
 3   low                           float64
 4   close                         float64
 5   volume                        float64
 6   quote_asset_volume            float64
 7   number_of_trades              int64
 8   taker_buy_base_asset_volume   float64
 9   taker_buy_quote_asset_volume  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 238.5+ MB

In [7]:
data.describe()

,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
count,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06,3.126000e+06
mean,2.008947e+04,2.010217e+04,2.007666e+04,2.008946e+04,5.290800e+01,1.155882e+06,1.018583e+03,2.632231e+01,5.727211e+05
std,1.605896e+04,1.606926e+04,1.604871e+04,1.605896e+04,9.774388e+01,2.335868e+06,1.817813e+03,4.972880e+01,1.193135e+06
min,2.830000e+03,2.830000e+03,2.817000e+03,2.817000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,7.624747e+03,7.629600e+03,7.620000e+03,7.624798e+03,1.120167e+01,1.122335e+05,1.500000e+02,5.100715e+00,5.125057e+04
50%,1.169999e+04,1.170681e+04,1.169249e+04,1.170000e+04,2.387539e+01,3.706467e+05,4.130000e+02,1.148990e+01,1.753695e+05
75%,2.989957e+04,2.990724e+04,2.989051e+04,2.989957e+04,5.393630e+01,1.276762e+06,1.026000e+03,2.693009e+01,6.210250e+05
max,6.900000e+04,6.900000e+04,6.878670e+04,6.900000e+04,5.877775e+03,1.459557e+08,1.073150e+05,3.537453e+03,8.947551e+07

In [8]:
minOpen = data['open'].min()
maxOpen = data['open'].max()
openRange = maxOpen - minOpen
print("Open Range: ", openRange)
minHigh = data['high'].min()
maxHigh = data['high'].max()
highRange = maxHigh - minHigh
print("High Range: ", highRange)
minLow = data['low'].min()
maxLow = data['low'].max()
LowRange = maxLow - minLow
print("Low Range: ", LowRange)
minClose = data['close'].min()
maxClose = data['close'].max()
closeRange = maxClose - minClose
print("Close Range: ", closeRange)
minVol = data['volume'].min()
maxVol = data['volume'].max()
volumeRange = maxVol - minVol
print("Volume Range: ", volumeRange)
minqav = data['quote_asset_volume'].min()
maxqav = data['quote_asset_volume'].max()
qavRange = maxqav - minqav
print("quote_asset_volume Range: ", qavRange)
minNOT = data['number_of_trades'].min()
maxNOT = data['number_of_trades'].max()
NOTRange = maxNOT - minNOT
print("number_of_trades Range: ", NOTRange)
minTBBAV = data['taker_buy_base_asset_volume'].min()
maxTBBAV = data['taker_buy_base_asset_volume'].max()
TBBAVRange = maxTBBAV - minTBBAV
print("taker_buy_base_asset_volume Range: ", TBBAVRange)
minTBQAV = data['taker_buy_quote_asset_volume'].min()
maxTBQAV = data['taker_buy_quote_asset_volume'].max()
TBQAVRange = maxTBQAV - minTBQAV
print("taker_buy_quote_asset_volume Range: ", TBQAVRange)

Open Range:  66170.0
High Range:  66170.0
Low Range:  65969.7
Close Range:  66183.0
Volume Range:  5877.77545
quote_asset_volume Range:  145955668.3328495
number_of_trades Range:  107315
taker_buy_base_asset_volume Range:  3537.45296
taker_buy_quote_asset_volume Range:  89475505.03325081